* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

:root {
  --square-color: #C4E538;
  --title-color: #222f3e;
  --info-color: #eb4d4b;
}

body {
  user-select:none;
  -webkit-user-select: none;
  perspective: 600px;
  text-align: center;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: all 200ms ease-in;
}

button:hover {
  background-color: var(--info-color);
  transform: scale(1.1);
}

header {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.title {
  font-size: 3em;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  color: var(--title-color);
}

.start__button{
  width: 90px;
  margin-top: 12px;
  padding: 20px 0;
  line-height:4px;
  background-color: var(--title-color);
  font-size: 18px;
  color: white;
}

.square__container {
  position: relative;
  display: grid;
  width: 415px;
  height: 415px;
  margin: 30px auto 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.square {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.back-square,
.front-square {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip {
  transform: rotateY(180deg);
}

.front-square {
  display: block;
  z-index: 2;
}

.front-square.img-display {
  display: none;
}

.back-square {
  display: block;
  z-index: 1;
  transform: translate(0, 0);
}

.re-flip {
  transform: none;
}

.square-img {
  width: 100%;
  height: 100%;
}

.game__info {
  display: flex;
  justify-content: space-between;
  width: 415px;
  margin: 20px auto 0;
  padding: 0 15px;
  font-size: 23px;
  color: var(--title-color);
}

.game__info.hide-game__info {
  display: none;
}

.game-timer,
.game-state {
  color: var(--info-color);
}


@media screen and (max-width: 575px) {
  header{
    width: 315px;
  }

  .title {
    font-size: 2.5em;
  }

  .start__button{
    width: 70px;
    padding: 12px 0;
    line-height: 12px;
    font-size: 16px;
  }

  .square__container {
    width: 315px;
    height: 315px;
  }

  .square {
    width: 75px;
    height: 75px;
  }

  .game__info {
    width: 315px;
    font-size: 20px;
    flex-direction: column;
  }
}
